{

  #set($ids = [])
  #foreach($id in $ctx.args.input.chatIds)
    #set($map = {})
    $util.qr($map.put("chatId", $util.dynamodb.toString($id)))
    $util.qr($map.put("sortKey", $util.dynamodb.toString("config")))
    $util.qr($ids.add($map))
  #end

  "version" : "2018-05-29",
  "operation" : "BatchGetItem",
  "tables": {
    "${chatsTableName}": {
      "keys": $util.toJson($ids)
    }
  }
}