{
  "version" : "2017-02-28",
  "operation" : "Query",
  "query" : {
    "expression": "chatId = :chatId",
      "expressionValues" : {
        ":chatId" : { "S" : "$ctx.args.input.chatId" }
      }
  },
  "limit": 1,
  "scanIndexForward" : false
}