{
  #set($chatId = $util.autoId())
  #set($chatName = $ctx.args.input.chatName)
  #set($timestamp = $util.time.nowISO8601())

  "version" : "2017-02-28",
  "operation" : "PutItem",
  "key": {
    "chatId": $util.dynamodb.toStringJson($chatId),
    "sortKey": $util.dynamodb.toStringJson("config"),
  },
  "attributeValues": {
    "chatName": $util.dynamodb.toStringJson($chatName),
    "createdAt": $util.dynamodb.toStringJson($timestamp)
  }
}