#set($items = $context.result.items)

#if (!$items.isEmpty())
  #set($config = $items[0])

  #if( $config && $config.private )
    #set( $ignore = $config.put("__typename", "ChatPrivateConfig"))
  #elseif( $config )
    #set( $ignore = $config.put("__typename", "ChatGroupConfig"))
  #end
#end

$util.toJson($config)