#if($context.error)
    $utils.appendError($context.error.message, $context.error.message)
#end
#foreach($result in $context.result.data["${chatsTableName}"] )
  #foreach($item in $result.entrySet())
      #if($item.key == "sortKey" && $item.value == "config")
        $util.toJson($result)
      #end
  #end
#end
