{
  "version": "2017-02-28",
  "payload": {
    "chatId": "${context.arguments.chatId}",
    "sortKey": "${context.arguments.sortKey}",
    "messageId": "${context.arguments.messageId}",
    "message": "${context.arguments.message}"
  }
}